  <mat-card id="mat-card">

      <mat-card-header>
        <div mat-card-avatar *ngIf="this.user">
          <img [src]="user.profileImg" alt="Avatar">
        </div>

        <mat-card-title>{{comment.user.username}}</mat-card-title>
        <mat-card-subtitle>{{this.comment.createdOn | date: "shortDate"}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>{{this.comment.content}}
      </mat-card-content>
      <br>
      <span id="edit" *ngIf="this.canEdit && this.user" (click)="toggleEditMenu()">
        <i>
            <i class="material-icons">edit</i>
            Edit
        </i>
      </span>
      <app-edit-comment *ngIf="this.isEditMenuOpen"
        [commentContentToEdit]="this.comment.content"
        (closedMenu)="toggleEditMenu($event)"
        (newTextEvent)="editComment($event)"
        [user]="this.user">
      </app-edit-comment>
      <!-- <app-all-replies [commentId]="comment.id" [language]="commentLang"></app-all-replies> -->
  </mat-card>

