#save-btn {
    background-color: #3f51b5;
    color: white;
    margin-right: 10px;
}
#cancel-btn {
    background-color: #f44336;
    color: white;
}
.password-icon {
    font-size: 16px;
    color: #c5c009;
    cursor: pointer;
}
.form-field-container {
    display: flex;
}