<nav>
  <button mat-button class="menu-btn" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="articles">
      {{ui.articles_btn}}
    </button>
    <button mat-menu-item *ngIf="!loggedUser" (click)="toSignIn()">
      Sign in
    </button>
    <div *ngIf="loggedUser">
      <button
        mat-menu-item
        *ngIf="loggedUser.roles.includes('Admin')"
        (click)="toAdminPanel()"
        >
        {{ui.admin_panel_btn}}
      </button>
      <button
        mat-menu-item
        [matMenuTriggerFor]="translations"
        *ngIf="loggedUser?.roles?.length > 1"
      >
        {{ui.translations_btn}}
      </button>
      <button mat-menu-item (click)="toUserProfile()">
        {{ui.profile_btn}}
      </button>
      <button mat-menu-item (click)="toUsers()">
        {{ui.all_users_btn}}
      </button>
      <button mat-menu-item (click)="toLogout()">
        {{ui.logout_btn}}
      </button>
    </div>
  </mat-menu>
  <mat-menu #articles="matMenu">
    <button mat-menu-item (click)="toArticles()">
      {{ui.all_articles_btn}}
    </button>
    <button
      mat-menu-item
      *ngIf="loggedUser"
      (click)="toCreateArticles()"
    >
      {{ui.create_btn}}
    </button>
  </mat-menu>
  <mat-menu #translations="matMenu">
    <button mat-menu-item (click)="toTranslations()">
      {{ui.capital_all_btn}}
    </button>
  </mat-menu>
</nav>