<div id="user-articles-container">
        <h2>{{this.ui.profile_articles_label}}</h2>

    <app-search-bar [ui]="this.ui" (search)="this.searchArticles($event)"></app-search-bar>

    <mat-table [dataSource]="this.dataSource" matSort>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> {{this.ui.profile_title_table}} </mat-header-cell>
            <mat-cell *matCellDef="let row"><span class="pointer">{{row.title}}</span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="originalLn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.ui.profile_language_label}} </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="pointer">{{row.article.language.name}}</span>
            </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="category">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>{{this.ui.profile_category_table}}</mat-header-cell>
            <mat-cell *matCellDef="let row"><span class="pointer">{{row.article.category.name}}</span> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToArticle(row.article.id)">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 40, 80]"></mat-paginator>
</div>