<h1>Admin Panel</h1>
<mat-tab-group>
    <mat-tab label="Settings">
        <ng-template mat-tab-label>
            <mat-icon class="custom-tab-icon">build</mat-icon>
        </ng-template>
        <app-admin-settings
            [ui]="this.ui"
            [allLanguages]="this.allLanguages"
            [suppLanguages]="this.suppLanguages"
        ></app-admin-settings>
    </mat-tab>
    <mat-tab label="Items">
        <ng-template mat-tab-label>
            <mat-icon class="custom-tab-icon">dashboard</mat-icon>
        </ng-template>
        <app-admin-items [ui]="this.ui"></app-admin-items>
    </mat-tab>
    <mat-tab label="Users">
        <ng-template mat-tab-label>
            <mat-icon class="custom-tab-icon">people</mat-icon>
        </ng-template>
        <app-admin-users
            [ui]="this.ui"
            [users]="this.users"
            [suppLanguages]="this.suppLanguages"
            (bannedUser)="this.banUser($event)"
        >
        </app-admin-users>
    </mat-tab>
    <mat-tab  label="Articles">
        <ng-template mat-tab-label>
            <mat-icon class="custom-tab-icon">library_books</mat-icon>
        </ng-template>
        <app-admin-articles [ui]="this.ui"></app-admin-articles>
    </mat-tab>
    <!-- <mat-tab label="Comments">
        <ng-template mat-tab-label>
            <mat-icon class="custom-tab-icon">comment</mat-icon>
        </ng-template>
        <app-admin-comments [ui]="this.ui"></app-admin-comments>
    </mat-tab> -->
</mat-tab-group>