/* You can add global styles to this file, and also import other style files */
@import '../node_modules/css-star-rating/css/star-rating.css';

:root {
  --primary-background-color: #05133f;
  --secondary-background-color: #FFFFFF;
  --tertiary-background-color: #CF215C;
  --quaternary-background-color: #008B8B;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #000000;
  --tertiary-text-color: #05133f;
  --quaternary-text-color: #008B8B;
}

html,
body { 
  height: 100%;
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Gelasio', serif;
  color: var(--secondary-text-color);
  background: linear-gradient(to right, rgb(0, 4, 40), rgb(0, 78, 146));
}

.primary-title {
  color: var(--secondary-background-color);
  font-size: 5rem;
}

.secondary-title {
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 3rem;
}

.tertiary-title {
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 1.8rem;
  font-weight: normal;
}

.inputs-container {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 4rem;
  justify-content: center;
  height: 55rem;
  padding: 2.5rem;
  background-color: var(--secondary-background-color);
  border-radius: 1rem;
  box-sizing: border-box;
}

.mat-form-field-infix {
  font-size: 2.2rem;
}

mat-label-color {
  color: var(--tertiary-text-color);
}

.btn {
  width: 25rem;
  height: 5rem;
  font-size: 2.2rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-btn {
  color: var(--tertiary-text-color);
  background-color: var(--secondary-background-color);
  border-radius: 1rem;
}

.secondary-btn {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  border-radius: 1rem;
}

.tertiary-btn {
  color: var(--primary-text-color);
  background-color: var(--quaternary-background-color);
  border-radius: 1rem;
}

.cancel-btn {
  color: var(--primary-text-color);
  background-color: var(--tertiary-background-color);
  border-radius: 1rem;
}

.disabled {
  opacity: 0.5;
  cursor: unset;
  pointer-events: none;
}

.mat-error {
  font-size: 1.5rem;
}

.material-icons {
  margin-left: 1rem;
}

.mat-dialog-container {
  height: unset !important;
}

.rating {
  outline: none;
}

.additional-info {
  font-size: 1.6rem;
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}


@media screen and (max-width: 599px) {
  .secondary-title {
    font-size: 2rem;
  }

  .additional-info {
    font-size: 1.2rem;
  }

  .primary-title {
    font-size: 4rem;
  }
}