.create-article-container {
  display: block;
  padding: 0 5rem;
  text-align: center;
}

.create-article-form mat-form-field{
  width: 30rem;
}

.create-article-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 7rem;
  grid-row-gap: 4rem;
}

.inputs-container textarea {
  height: 26.2rem;
  background-image: url('src/assets/pen.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-y: 10rem;
  background-position-x: center;
  resize: none;
}

.default-image {
  width: 25rem;
  height: 25rem;
}

.primary-btn {
  margin: 4rem auto 0 auto;
}

.hide-background {
  background-image: none !important;
}

.step {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  color: var(--primary-text-color);
  font-size: 3rem;
  background-color: var(--quaternary-background-color);
  border-radius: 50%;
}

@media screen and (max-width: 1199px) {
  .create-article-form {
    grid-template-columns: auto;
    grid-row-gap: 2rem;
  }
}

@media screen and (max-width: 599px) {
  .create-article-container {
    padding: 0.3rem;
  }

  .inputs-container {
    grid-row-gap: 0;
    height: 45rem;
    padding: 1rem;
  }
}
