<main class="create-article-container">
  <h1 class="primary-title">Create article</h1>
  <form [formGroup]="createArticleForm" (ngSubmit)="operation === 'create' ? publishArticle() : editArticle()">
    <div class="create-article-form">
      <div class="inputs-container">
        <span class="step">1</span>
        <h2 class="secondary-title">Info</h2>
        <mat-form-field>
          <mat-label>{{ui.title_label}}</mat-label>
          <input
            formControlName="title"
            matInput
            type="text"
          />
          <mat-error 
            *ngIf="createArticleForm.controls.title?.errors?.required
              || createArticleForm.controls.title?.errors?.minLength
              || createArticleForm.controls.title?.errors?.maxLength
            "
          >
            The title is required and should be between 5 and 100 symbols long.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            {{ui.subtitle_label}}
          </mat-label>
          <input
            formControlName="subtitle"
            matInput
            type="text"
            placeholder="Subtitle"
          />
          <mat-error 
            *ngIf="createArticleForm.controls.subtitle?.errors?.required
              || createArticleForm.controls.subtitle?.errors?.minLength
              || createArticleForm.controls.subtitle?.errors?.maxLength
            "
          >
            The subtitle is required and should be between 5 and 100 symbols long.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ui.category_label}}</mat-label>
          <mat-select formControlName="category">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.name"
            >
              {{category.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="createArticleForm.controls.category?.errors?.required">
            The category is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="inputs-container">
        <span class="step">2</span>
        <h2 class="secondary-title">Content</h2>
        <mat-form-field>
          <mat-label>Tell me your greatest story</mat-label>
          <textarea
            formControlName="content"
            matInput
            type="text"
            [ngClass]="{'hide-background': createArticleForm.controls.content?.value?.length > 0}"
          ></textarea>
          <span>{{createArticleForm.controls.content?.value?.length}} /3000</span>
          <mat-error *ngIf="createArticleForm.controls.content?.errors?.required">
            The content is required and should be between 20 and 3000 symbols long.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="inputs-container">
        <span class="step">3</span>
        <h2 class="secondary-title">Image</h2>
        <img
          #imageContainer
          class="default-image"
          *ngIf="showDefaultImage"
          [src]="imageBase64"
        />
        <app-upload-image
          [ui]="ui"
          (toggleDefaultImageEvent)="toggleDefaultImage()"
          (newImageEvent)="newImage($event)"
        ></app-upload-image>
      </div>
    </div>
    <button
      *ngIf="operation === 'create'"
      class="primary-btn btn"
      type="submit"
      [class.disabled]="!createArticleForm.valid"
    >
      Publish <i class="material-icons">post_add</i>
    </button>
    <button
      *ngIf="operation === 'edit'"
      class="primary-btn btn"
      type="submit"
    >
      Edit <i class="material-icons">edit</i>
    </button>
  </form>
</main>
