<div class="landing-container">
  <h1 class="auth-title">Be part of THE BEST article's place</h1>
  <div class="auth-container">
    <img class="auth-image" src="../../../assets/auth.svg" alt="Authentication image" />
    <div>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab [label]="ui.landing_login_btn">
          <app-login [ui]="ui" [displayLanguage]="displayLanguage"></app-login>
        </mat-tab>
        <mat-tab [label]="ui.landing_register_btn">
          <app-register
            [ui]="ui"
            [displayLanguage]="displayLanguage"
            [languages]="languages"
          ></app-register>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <button
    class="btn skip-btn"
    (click)="goToHomePage()"
  >
    Skip
  </button>
</div>
