.auth-title {
  margin-top: 0.5rem;
  color: var(--tertiary-text-color);
  font-size: 3.5rem;
  text-align: center;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.landing-container::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-background-color);
}

.auth-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skip-btn {
  width: auto;
  margin: 1.5rem auto 0 auto;
  color: var(--tertiary-text-color);
  font-weight: bold;
  opacity: 0.5;
}

@media screen and (max-width: 899px) {
  .auth-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .auth-image {
    width: 27rem;
  }
}

@media screen and (max-width: 599px) {
  .auth-container {
    flex-direction: column;
  }

  .auth-image {
    display: none;
  }

  .auth-title {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
  }

  .skip-btn {
    margin: 0.5rem auto 0 auto;
  }
}

@media screen and (max-height: 629px) {
  .landing-container {
    height: auto;
  }
}