<form id="create-comment-form" [formGroup]="createCommentForm" (ngSubmit)="createComment()">
  <mat-form-field style="width: 100%;">
    <textarea matInput formControlName="content" rows="6" placeholder="Enter your comment here"></textarea>
    <mat-error *ngIf="createCommentForm.controls.content?.errors?.required">This field is required!</mat-error>
    <mat-error *ngIf="createCommentForm.controls.content?.errors?.minlength">The comment should be at least 1 symbols long!</mat-error>
    <mat-error *ngIf="createCommentForm.controls.content?.errors?.maxlength">The comment should be less than 500 symbols long!</mat-error>
  </mat-form-field>
  <br>
  <button color="primary" id="create-comment-btn" mat-raised-button type="submit" [class.disabled]="!createCommentForm.valid">Publish</button>
</form>
