<div class="image-cropper-container">
  <app-image-cropper 
    class="image-cropper"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1"
    [resizeToWidth]="128"
    [cropperMinWidth]="128"
    [onlyScaleDown]="true"
    [roundCropper]="false"
    format="png"
    outputType="base64"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    [style.display]="showCropper ? null : 'none'"
    [alignImage]="left"
  ></app-image-cropper>
  <label 
    *ngIf="!showCropper"
    class="btn choose-btn"
    for="upload-input"
  >
    Choose image <i class="material-icons">photo</i>
  </label>
  <input
    type="file"
    id="upload-input"
    class="upload-image-input"
    (change)="fileChangeEvent($event)"
  />
  <div *ngIf="showCropper" class="cropper-actions">
    <button class="btn secondary-btn" (click)="cropReady()">Crop ready<i class="material-icons">done</i></button>
    <button class="btn cancel-btn" (click)="cancelNewImage()">Cancel<i class="material-icons">close</i></button>
  </div>
</div>