.image-cropper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-cropper {
  width: 25rem;
  height: 25rem;
}

.choose-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  border-radius: 1rem;
}

.cropper-actions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.secondary-btn,
.cancel-btn {
  margin-top: 1rem;
}

.upload-image-input {
  display: none;
}