<div id="admin-items-container">

    <h2>UI Components</h2>

        <app-search-bar 
        [ui]="this.ui"
        (search)="this.searchItems($event)"></app-search-bar>

        <mat-table [dataSource]="this.dataSource" matSort>

            <ng-container matColumnDef="text">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Text
                </mat-header-cell>
                <mat-cell *matCellDef="let row"><span class="pointer">{{row.text}}</span> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="resourceName">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Resource</mat-header-cell>
                <mat-cell *matCellDef="let row"><span class="pointer">{{row.resourceName}}</span> </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[10, 20, 40, 80]"></mat-paginator>
</div>