.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem 1rem;
}

.header-logo {
  color: var(--primary-text-color);
  cursor: pointer;
}

.brand {
  padding: 0.1rem 0.5rem 0;
  font-size: 2.4rem;
  font-weight: bold;
  border-bottom: 2px solid var(--quaternary-background-color);
  border-top: 2px solid var(--quaternary-background-color);
  border-radius: 1rem;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 9.5rem;
}

@media screen and (max-width: 599px) {
  .header-container {
    padding: 0.5rem 1rem;
  }
}
