<header class="header-container">
  <div class="header-logo" (click)="goToHome()">
    <span class="brand">Multilingo</span>
  </div>
  <div class="header-actions">
    <app-select-language
      [loggedUser]="loggedUser"
      [supportedLanguages]="supportedLanguages"
      [selectedLanguage]="selectedLanguage"
    ></app-select-language>
    <app-navigation
      [loggedUser]="loggedUser"
      [ui]="ui"
      [supportedLanguages]="supportedLanguages"
      [selectedLanguage]="selectedLanguage"
    ></app-navigation>
  </div>
</header>
