.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--quaternary-background-color);
  border-radius: 1rem;
}

.secondary-title {
  color: var(--primary-text-color);
  font-size: 1.3rem;
  font-weight: bolder;
}

.mat-form-field {
  color: var(--primary-text-color);
}