<mat-toolbar>
  <h2 class="secondary-title uppercase">Category </h2>
  <mat-form-field>
    <mat-label #categoryLabel>all</mat-label>
    <mat-select>
      <mat-option (click)="selectCategory('all')">all</mat-option>
      <mat-option
        *ngFor="let category of categories"
        (click)="selectCategory(category.name)"
      >
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>  
</mat-toolbar>
