.all-articles-container {
  padding: 0 5rem;
}

.primary-title {
  text-align: center;
}

.all-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.secondary-title {
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .all-articles {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}

@media screen and (max-width: 599px) {
  .all-articles-container {
    padding: 1rem;
  }
}
