<div class="all-articles-container">
  <h1 class="primary-title">{{ui.all_time_articles}}</h1>
  <app-categories-navigation
    [categories]="categories"
    (filterByCategoryEvent)="filterArticlesByCategory($event)"
  ></app-categories-navigation>
  <h2 class="secondary-title" *ngIf="articlesToShow.length === 0">There are no articles in this category for now...</h2>
  <div class="all-articles">
    <app-article-preview
      [ui]="ui"
      *ngFor="let articleItem of articlesToShow"
      [article]="articleItem"
      (goToArticle)="redirectToArticle($event)"
    ></app-article-preview>
  </div>
</div>
