<h3>
  Are you sure you want to
</h3>
<ng-container *ngIf="this.data.added.length !== 0"
    >
    <p>{{ this.addLabel }}</p>
      <ul *ngFor="let lang of this.data.added">
        {{
          lang
        }}
      </ul>
  </ng-container>
  <p *ngIf="this.data.removed.length !== 0 && this.data.added.length !== 0">{{ this.orLabel }}</p>
  <ng-container *ngIf="this.data.removed.length != 0"
    >
    <p>{{ this.removeLabel }}</p>
      <ul *ngFor="let lang of this.data.removed">
        {{
          lang
        }}
      </ul>
  </ng-container>
<mat-dialog-actions>
    <button id="change-supported-languages" mat-raised-button color="primary" type="submit" (click)="this.onSubmit()">
      Yes
    </button>
    <button (click)="this.onNoClick()">Cancel</button>
</mat-dialog-actions>
