.registration-container {
  text-align: center;
}

.password-icon {
  position: absolute;
  right: 0;
  z-index: 1;
  color: var(--quaternary-text-color);
  font-size: 2rem;
  cursor: pointer;
}

.btn {
  margin: 2rem auto;
}

.register-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2.2rem;
}

.register-form:first-child {
  margin-top: 1rem;
}