<div class="registration-container">
  <form
    class="register-form"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
  >
    <mat-form-field>
      <input
        matInput
        formControlName="username"
        [placeholder]="ui.landing_username_placeholder"
      />
      <mat-error *ngIf="registerForm.controls.username?.errors?.required">
        Username is required.
      </mat-error>
      <mat-error *ngIf="registerForm.controls.username?.errors?.minlength">
        Username should be at least 4 characters long.
      </mat-error>
      <mat-error *ngIf="registerForm.controls.username?.errors?.maxlength">
        Username should be at maximum 20 characters long.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [placeholder]="ui.landing_password_placeholder"
        formControlName="password"
        [type]="hidePassword ? 'password' : 'text'"
      />
      <i
        class="material-icons register-icon password-icon "
        (click)="hidePassword = !hidePassword"
      >
        {{hidePassword ? 'visibility_off' : 'visibility'}}
      </i>
      <mat-error *ngIf="registerForm.controls.password?.errors?.required">
        Password is required!
      </mat-error>
      <mat-error *ngIf="registerForm.controls.password?.errors?.minlength">
        Password should be at least 4 characters long.
      </mat-error>
      <mat-error *ngIf="registerForm.controls.password?.errors?.maxlength">
        Password should be maximum 20 characters long.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="confirmPassword"
        [placeholder]="ui.landing_repeat_password_placeholder"
        [type]="hidePassword ? 'password' : 'text'"
      />
      <i
        class="material-icons register-icon password-icon"
        (click)="hidePassword = !hidePassword"
      >
        {{hidePassword ? 'visibility_off' : 'visibility'}}
      </i>
      <mat-error *ngIf="registerForm.controls.confirmPassword?.errors?.required">
        Confirm password is required!
      </mat-error>
      <mat-error *ngIf="registerForm.controls.confirmPassword?.errors?.minlength">
        Confirmed password should be at least 4 characters long.
      </mat-error>
      <mat-error *ngIf="registerForm.controls.confirmPassword?.errors?.maxlength">
        Confirm password should be maximum 20 characters long.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select language</mat-label>
      <mat-select formControlName="prefLang">
        <mat-option
          *ngFor="let language of languages"
          [value]="language.index"
        >
          {{language.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="registerForm.controls.prefLang?.errors?.required">
        The language is required!
      </mat-error>
    </mat-form-field>
    <button
      class="btn secondary-btn"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
  </form>
</div>
