.about-menu {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #676767;
    padding: 5px;
    color: #676767;
    font-size: 15px;
    font-weight: bold; 
}
.warn-color {
    color: #f44336;
}
#edit-btn {
    font-size: 20px;
    cursor: pointer;
    color: #3f51b5;
}
h2, form {
    text-align: center;
}
#save-btn {
    width: 100%;
}
.black-overlay {
    position:absolute !important;
}