<app-header *ngIf="this.router.url !== '/landing' && this.router.url !== '/landing'"></app-header>
<router-outlet></router-outlet>
<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "large"
color = "yellow"
type = "pacman"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>
<!-- <app-footer></app-footer> -->
