h3 {
  text-align: center;
}

.home-icon {
    font-size: 15px;
    margin-bottom: 3px;
}
#home-page-top > h1 {
    text-shadow: 1px 1px 1px #000000;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #top-articles {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #vl, #hl{
        display: none;
    }
    #bottom-articles {
        display: block;
    }
    h1 {
        text-align: center;
        font-family: 'Lobster', cursive;
    }
    #home-page-container {
        padding: 0px;
        width: 100%;
        color: #676767;
    }
    #home-page-top {
        padding: 70px 0;
        text-align: center;
        background-color: #676767;
        color: white;
    }
    #latest-articles {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        row-gap: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #top-articles {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    h1 {
        text-align: center;
        font-family: 'Lobster', cursive;
    }
    #bottom-articles {
        display: block;
    }
    #home-page-container {
        padding: 0px;
        width: 100%;
        color: #676767;
    }
    #home-page-top {
        padding: 70px 0;
        text-align: center;
        background-color: #676767;
        color: white;
    }
    #latest-articles {
        display: grid;
        grid-template-columns: auto auto;
        text-align: center;
        column-gap: 10px;
        row-gap: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #top-articles {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #bottom-articles {
        display: flex;
        justify-content: space-around;
        padding: 12px;
    }
    /* #vl #hl{
        display: none;
    } */
    h1 {
        text-align: center;
        font-family: 'Lobster', cursive;
    }
    #home-page-container {
        padding: 0px;
        width: 100%;
        color: #676767;
    }
    #home-page-top {
        padding: 70px 0;
        text-align: center;
        background-color: #676767;
        color: white;
    }
    #latest-articles {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        column-gap: 15px;
        row-gap: 15px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #home-page-container {
        padding: 0px;
        color: #676767;

    }
    #bottom-articles {
        display: flex;
        justify-content: space-around;
    }
    h1 {
        text-align: center;
        font-family: 'Lobster', cursive;
    }
    #top-articles {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #vl{
        width: 3px;
        background-color: #676767;
    }
    #home-page-top {
        padding: 70px 0;
        text-align: center;
        background-color: #676767;
        color: white;
    }
    #latest-articles {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        column-gap: 20px;
        row-gap: 20px;
    }
}
