table {
    text-align: center;
    width: 100%;
}
#user-comments-container {
   text-align: center; 
}
  
mat-cell {
    justify-content: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    color: 676767;
}
h2 {
    text-align: center;
    margin-bottom: 0px;
}
mat-row {
    cursor: pointer;
}
.hide {
    display: none;
}
mat-header-row {
    background-color: #676767;
}
mat-header-cell {
    justify-content: center;
    color: white;
    font-weight: bold;
}