<div id="user-comments-container">

    <h2>{{this.ui.profile_comments_label}}</h2>

    <app-search-bar
        [ui]="this.ui"
        (search)="this.searchComments($event)"
    ></app-search-bar>

    <mat-table [dataSource]="this.dataSource" matSort>

        <ng-container matColumnDef="content">
            <mat-header-cell  *matHeaderCellDef mat-sort-header style="text-align: center;"> {{this.ui.profile_content_label}} </mat-header-cell>
            <mat-cell *matCellDef="let row"><span class="pointer"
                    >{{row.content}}</span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdOn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{this.ui.profile_created_on_label}} </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="pointer">{{row.createdOn | date:'shortDate'}}</span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 40, 80]"></mat-paginator>
</div>