#edit-reply-btn {
  background-color: black;
  color: white;
}
.disabled {
  background-color: rgb(0, 0, 0, 0.3)!important;
  cursor: default!important;
  pointer-events: none!important;
}
mat-form-field {
  width: 100%;
}

textarea {
  background-color: white;
}
