<form class="edit-reply-form"  [formGroup]="editReplyForm" (ngSubmit)="editReply()">
  <mat-form-field>
      <textarea matInput rows="6" formControlName="content"></textarea>
      <mat-error *ngIf="editReplyForm.controls.text?.errors?.required">This field is required!</mat-error>
      <mat-error *ngIf="editReplyForm.controls.text?.errors?.minlength">The reply should be at least 1 symbols long!</mat-error>
      <mat-error *ngIf="editReplyForm.controls.text?.errors?.maxlength">The reply should be less than 500 symbols long!</mat-error>
  </mat-form-field>
  <br>
  <button id="edit-reply-btn" mat-raised-button color="primary" type="submit" [class.disabled]="!editReplyForm.valid">Edit</button>
</form>
