<div class="login-container">
  <form
    class="login-form"
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  >
    <mat-form-field>
      <input
        matInput
        [placeholder]="ui.landing_username_placeholder"
        formControlName="username"
      />
      <mat-error *ngIf="loginForm.controls.username?.errors?.required">
        Username is required.
      </mat-error>
      <mat-error *ngIf="loginForm.controls.username?.errors?.minlength">
        Username should be at least 4 characters long.
      </mat-error>
      <mat-error *ngIf="loginForm.controls.username?.errors?.maxlength">
        Username should be maximum 20 characters long.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="password-container">
      <input
        matInput
        [placeholder]="ui.landing_password_placeholder"
        formControlName="password"
        [type]="hidePassword ? 'password' : 'text'"
      />
      <i
        class="material-icons password-icon"
        (click)="hidePassword = !hidePassword"
      >
        {{hidePassword ? "visibility_off" : "visibility"}}
      </i>
      <mat-error *ngIf="loginForm.controls.password?.errors?.required">
        Password is required!
      </mat-error>
      <mat-error *ngIf="loginForm.controls.password?.errors?.minlength">
        Password should be at least 4 characters long.
      </mat-error>
      <mat-error *ngIf="loginForm.controls.password?.errors?.maxlength">
        Passowrd should be maximum 20 characters long.
      </mat-error>
    </mat-form-field>
    <mat-checkbox
      formControlName="keepMeLoggedIn"
      type="checkbox"
    >
      {{ui.landing_keep_me_logged_checkbox}}
    </mat-checkbox>
    <button
      class="btn secondary-btn"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Log in
    </button>
  </form>
</div>
