.login-container {
  text-align: center;
}

.password-icon {
  position: absolute;
  right: 0;
  z-index: 1;
  color: var(--quaternary-text-color);
  font-size: 2rem;
  cursor: pointer;
}

.btn {
  margin: 2rem auto;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2.2rem;
}

.mat-checkbox {
  font-size: 2rem;
}

.login-form:first-child {
  margin-top: 1rem;
}

@media screen and (max-width: 599px) {
  .btn {
    margin: 0 auto;
  }
}
