<div class="article-preview-container" (click)="seeArticle(article.article.id)">
  <img
    [src]="article.image"
    alt="Article image"
    class="article-image"
  />
  <div class="article-info">
    <span class="additional-info uppercase">
      {{article.article.createdOn | date: 'shortDate'}} |
      <span (click)="viewUser(article.article.user.id)">{{article.article.user.username}}</span>
    </span>
    <h2 class="secondary-title">{{article.title}}</h2>
  </div>
</div>
