.article-preview-container {
  display: flex;
  color: var(--primary-text-color);
  background-color: var(--quaternary-background-color);
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
}

.article-image {
  width: 15rem;
  height: 15rem;
  border-top-left-radius: 10px;
}

.secondary-title {
  margin-top: 1.2rem;
  color: var(--secondary-background-color);
}

.article-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

@media screen and (max-width: 599px) {
  .article-image {
    width: 9rem;
    height: 9rem;
  }

  .article-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
  }
}