.edit-article-dialog-container {
  display: flex;
  columns: auto;
}

select {
  padding: 6px;
  border-radius: 4px;
  background-color: #3f51b5;
  color: white;
  height: 36px;
  width: 80px;
  text-align-last: center;
  font-size: 15px;
}
form {
  width: 100%;
  text-align: center;
}
mat-form-field {
  width: 300px;
}
#cancel {
  margin-left: 10px;
}




