<h3>
  {{ this.ui.are_you_sure_label }}
</h3>
<ng-container *ngIf="this.data.added.length !== 0">
  <p>{{ this.ui.add_btn }}</p>
  <ul *ngFor="let lang of this.data.added">
    {{
      lang
    }}
  </ul>
</ng-container>
<p *ngIf="this.data.removed.length !== 0 && this.data.added.length !== 0">
  {{ this.ui.and_label }}
</p>
<ng-container *ngIf="this.data.removed.length != 0">
  <p>{{ this.ui.remove_label }}</p>
  <ul *ngFor="let lang of this.data.removed">
    {{
      lang
    }}
  </ul>
</ng-container>
<mat-dialog-actions>
  <button
    id="change-supported-languages"
    mat-raised-button
    color="primary"
    type="submit"
    (click)="this.onSubmit()"
  >
    {{ this.ui.yes_label }}
  </button>
  <button (click)="this.onNoClick()">{{ this.ui.cancel_btn }}</button>
</mat-dialog-actions>
