#profile-user-top {
    text-align: center;
    margin-top: 20px;
}
#profile-user-bottom {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding: 10px;
}
#profile-username {
    font-size: 40px;
    font-weight: bold;
}
#profile-powerPoints {
    font-size: 25px;
}
#profile-user-img {
    width: 200px;
    border-radius: 50%;
    border: 2px solid #676767;
    background-color: #676767;
}
mat-tab-group {
    background-color: transparent;
    margin-top: 20px;
    align-items: center;
}
.custom-tab-icon {
    color: #3f51b5;
}
#profile-user-img-container {
    position: relative;
    text-align: center;
    display: inline-block;
}
#change-image-icon {
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    color: #3f51b5;
}
#image-cropper {
    margin-top: 40px;
}
#image-cropper-cancel {
    display:flex;
    margin: 10px auto;
    width: 240px;
    justify-content: center;
}
#save-image-btn {
    width: 100%;
}