<div id="profile-container">
    <div id="profile-user-top">
        <div id="profile-user-img-container">
            <div *ngIf="!this.updateImgMenu">
                <img [src]="this.user.profileImg" id="profile-user-img" alt="">
                <i
                    class="material-icons"
                    id="change-image-icon"
                    (click)="this.toggleImageMenu()"
                    *ngIf="this.checkIfOwnerOrAdmin()"
                >edit</i>
            </div>
            <div *ngIf="this.updateImgMenu" id="image-cropper" >
                <app-update-img [ui]="this.ui" (newImage)="this.newImage($event)"></app-update-img>
                <button mat-raised-button color="warn" id="image-cropper-cancel" (click)="this.updateImgMenu = !this.updateImgMenu"
                    >{{this.ui.profile_canel_btn}}</button>

                <button id="save-image-btn" mat-raised-button  color="primary" *ngIf="this.image" (click)="uploadImage()">{{this.ui.profile_save_btn}}</button>
            </div>
        </div>
        <br>
        <span id="profile-username">{{this.user.username}}</span>
        <br>
        <span id="profile-powerPoints">{{this.user.powerPoints | getLevel}}</span>
        <br>
    </div>
    <mat-tab-group>
        <mat-tab label="About">
            <ng-template mat-tab-label>
                <mat-icon class="custom-tab-icon">info</mat-icon>
            </ng-template>
            <app-about [ui]="this.ui" [user]="this.user" (updateAboutEvent)="this.updateAbout($event)" [isOwnerOrAdmin]="this.checkIfOwnerOrAdmin()"></app-about>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="custom-tab-icon">library_books</mat-icon>
            </ng-template>
            <app-user-articles
                [ui]="this.ui"
                [user]="this.user"
                [isOwnerOrAdmin]="this.checkIfOwnerOrAdmin()"
                (goToArticleEvent)="this.goToArticle($event)"
            ></app-user-articles>
        </mat-tab>
        <mat-tab label="Comments">
            <ng-template mat-tab-label>
                <mat-icon class="custom-tab-icon">comment</mat-icon>
            </ng-template>

        </mat-tab>
        <mat-tab label="Settings" *ngIf="this.checkIfOwnerOrAdmin()">
            <ng-template mat-tab-label>
                <mat-icon class="custom-tab-icon">settings_applications</mat-icon>
            </ng-template>
            <app-settings
                [user]="this.user"
                [languages]="this.languages"
                (changePassEvent)="changePass($event)"
                (deleteUserEvent)="deleteUser($event)"
                (changePrefLangEvent)="changePrefLang($event)"
                [ui]="this.ui"
            ></app-settings>
        </mat-tab>
    </mat-tab-group>
</div>
