<form id="create-reply-form" [formGroup]="createReplyForm" (ngSubmit)="createReply()">
  <mat-form-field style="width: 100%;">
    <textarea matInput formControlName="content" rows="6" placeholder="Enter your reply here"></textarea>
    <mat-error *ngIf="createReplyForm.controls.content?.errors?.required">This field is required!</mat-error>
    <mat-error *ngIf="createReplyForm.controls.content?.errors?.minlength">The reply should be at least 1 symbols long!</mat-error>
    <mat-error *ngIf="createReplyForm.controls.content?.errors?.maxlength">The reply should be less than 500 symbols long!</mat-error>
  </mat-form-field>
  <br>
  <button color="primary" id="create-reply-btn" mat-raised-button type="submit" [class.disabled]="!createReplyForm.valid">Reply</button>
</form>
