<mat-accordion>
  <mat-expansion-panel *ngFor="let version of this.data.verses">
    <mat-expansion-panel-header>
      <mat-panel-description>
        <i *ngIf="version.isCurrent" class="material-icons">check</i>
      </mat-panel-description>
      <mat-panel-title>
        {{ version.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      {{ version.subtitle }}
      <br />
      {{ version.content }}
    </ng-template>

    <mat-action-row *ngIf="!version.isCurrent">
      <button color="primary" mat-button (click)="this.onSubmit(version)">
        {{ this.ui.revert_btn }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<button color="primary" mat-button (click)="this.onNoClick()">
  {{ this.ui.cancel_btn }}
</button>
