  <mat-card id="mat-card">

      <mat-card-header>
        <div mat-card-avatar> 
          <img [src]="user.profileImg" alt="user.username">
        </div>
        
        <mat-card-title>{{user.username}}</mat-card-title>
        <mat-card-subtitle>{{this.reply.createdOn}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>{{this.reply.content}}
      </mat-card-content>
      <br>
      <span id="edit" *ngIf="this.canEdit && this.user" (click)="toggleEditMenu()">
        <i>
            <i class="material-icons">edit</i>
            Edit
        </i>
      </span>
        <app-edit-reply *ngIf="this.isEditMenuOpen"
          [replyContentToEdit]="this.reply.content"
          (closedMenu)="toggleEditMenu($event)"
          (newTextEvent)="editReply($event)"
          [user]="this.user">
        </app-edit-reply>

  </mat-card>

