.password-menu {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #676767;
    padding: 5px;
    color: #676767;
    font-size: 15px;
    font-weight: bold;
}
#settings-container {
    text-align: center;
}
.custom-warn {
    background-color: #f44336;
    color:white;
}
.custom-btn {
    width: 240px;
    text-align: center;
}
.custom-btn span{
    display: flex;
    align-items: center; 
    justify-content: center;
}
mat-icon {
    font-size: 22px;
    margin-right: 2px;
}
#update-password-btn, #update-lang-btn {
    width: 240px;
}
.settings-icons {
    position: absolute;
    right: 20px;
    color: #c5c009;;
    cursor: pointer;
}
div {
    width: 240px;
}
.mat-expansion-panel-body {
    padding: 0 !important;
  }
select {
    padding: 6px;
    border-radius: 4px;
    background-color: #3f51b5;
    color: white;
    height: 36px;
    width: 240px;
    text-align-last: center;
    font-size: 15px;
}
.hide {
    display: none;
}