<div>
    <label for="upload-image-input" id="upload-img-label">{{this.ui.profile_choose_image_btn}}
        <mat-icon id="choose-img-icon">cloud_upload</mat-icon>
    </label>
    <input type="file" id="upload-image-input" (change)="fileChangeEvent($event)" style="display: none;" />
    <app-image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
        [resizeToWidth]="128" [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false" format="png"
        outputType="base64" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"
        [style.display]="showCropper ? null : 'none'" [alignImage]="'left'"></app-image-cropper>

    <h3 [style.display]="showCropper ? null : 'none'">{{this.ui.profile_preview_btn}}</h3>
    <img [src]="croppedImage" [style.display]="showCropper ? null : 'none'" id="preview-img" />
</div>