app-image-cropper {
  max-height: 33vh;
  margin-top: 10px;
}
#upload-img-label {
  display: flex;
  justify-content: center;  
  width: 240px;
  background-color: #3f51b5;
  color: white;
  align-items: center;
  padding: 5px 0px;
  border-radius: 4px;
  font-weight: 500;
  margin: 0 auto;
}
#upload-image-input{
  display: none;
}
#save-image-btn{
  display:flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  justify-content: center;
}
#upload-actions{
  display: flex;
  margin-bottom: 10px;
}
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#preview-img {
  border-radius: 50%;
}
#choose-img-icon {
  margin-left: 5px;
}