<div id="admin-comments-container">

    <h2>Comments</h2>

    <app-search-bar
        [ui]="this.ui"
        (search)="this.searchComments($event)"
    ></app-search-bar>

    <mat-table [dataSource]="this.dataSource" matSort>

        <ng-container matColumnDef="content">
            <mat-header-cell  *matHeaderCellDef mat-sort-header style="text-align: center;"> Content </mat-header-cell>
            <mat-cell *matCellDef="let row"><span class="pointer"
                    >{{row.content}}</span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="originalLn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>OL </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="pointer">{{row.originalLn}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isDeleted">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Deleted </mat-header-cell>
                <mat-cell *matCellDef="let row">
                        <span *ngIf="row.isDeleted" (click)="deleteComment(row.id)"><mat-icon color="primary">check_box</mat-icon></span>
                <span *ngIf="!row.isDeleted" (click)="deleteComment(row.id)"><mat-icon  color="warn">indeterminate_check_box</mat-icon></span>
                </mat-cell>
            </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 40, 80]"></mat-paginator>
</div>