<div id="replies-container">
  <app-create-reply (newReplyEvent)="createReply($event)"></app-create-reply>
  <app-reply-info
      *ngFor="let reply of replies"
      [reply]="reply"
      [user]="loggedUser"
      (newTextEvent)="editReply($event)"
  >
  </app-reply-info>
</div>
