h1{
    font-family: 'Lobster', cursive;
    text-align: center;
}
#all-users-container {
    padding: 10px;
    text-align: center;
}
#all-users {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #all-users-container {
        padding: 10px;
        text-align: center;
    }
    #all-users {
        display: grid;
        grid-template-columns: auto;
        column-gap: 15px;
        row-gap: 10px;
        margin: 0 auto
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #all-users-container {
        padding: 10px;
        text-align: center;
    }
    #all-users {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 15px;
        row-gap: 25px;
        margin: 0 auto
    }   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #all-users-container {
        padding: 10px;
        text-align: center;
    }
    #all-users {
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 15px;
        row-gap: 25px;
        margin: 0 auto
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #all-users-container {
        padding: 10px;
        text-align: center;
    }
    #all-users {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        column-gap: 15px;
        row-gap: 15px;
    }
}
