<div id="all-users-container">
    <h1>{{this.ui.all_users_label}}</h1>
    <app-search-bar
        [ui]="this.ui"
        (search)="this.searchUser($event)"
    ></app-search-bar>
    <div id="all-users">
        <app-user-preview
            *ngFor="let user of this.filteredUsers"
            [user]="user"
            (click)="this.triggerSelectUser(user)"
            [ui]="this.ui"
        ></app-user-preview>
    </div>
</div>