
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #search-bar {
        width: 96%;
        background-color: white;
        margin: 20px 0px;
        padding: 4%;
    }
    .mat-input-element {
        color: black!important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #search-bar {
        width: 96%;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 4%;
    }
    .mat-input-element {
        color: black!important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #search-bar {
        width: 96%;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 2%;
    }
    .mat-input-element {
        color: black!important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #search-bar {
        width: 96%;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 2%;
    }
    .mat-input-element {
        color: black!important;
    }
}