<article class="article-container">
  <mat-accordion *ngIf="userHasRights">
    <mat-expansion-panel 
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Options
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div
        class="article-actions"
        *ngIf="userHasRights"
      >
        <button class="btn tertiary-btn">
          <a
            class="edit-link"
            [routerLink]="['/articles/create']"
            [state]="{ articleToEditId: articleToEditId }"
          >
            {{ui.edit_btn}} <i class="material-icons">edit</i>
          </a>
        </button>
        <button
          class="btn tertiary-btn"
          (click)="revertArticle()"
        >
          {{ui.revert_version_btn}} <i class="material-icons">assignment_return</i>
        </button>
        <button
          class="btn tertiary-btn"
          (click)="deleteArticle()"
        >
          Delete <i class="material-icons">delete</i>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="article-info">
    <span class="additional-info uppercase">
      {{article.article.createdOn | date: 'shortDate'}} |
      <span>{{article.article.user.username}}</span>
    </span>
  </div>
  <h1 class="primary-title">{{article.title}}</h1>
  <img class="article-image" [src]="article.image" alt="Article image" />
  <h2 class="secondary-title">{{article.subtitle}}</h2>
  <div class="article-content">
    <p>{{article.content}}</p>
  </div>
</article>