.article-container {
  padding: 0 5rem;
}

.secondary-title {
  color: var(--primary-text-color);
}

.article-image {
  width: 30rem;
  height: 30rem;
}

.article-content {
  color: var(--primary-text-color);
  font-size: 2.2rem;
  text-align: left;
}

.article-actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 2rem auto;
}

.primary-title {
  margin-top: 0.5rem;
}

.article-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  color: var(--primary-text-color);
  box-sizing: border-box;
}

.btn {
  margin: 0 auto;
}

.edit-link {
  color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .article-actions {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 599px) {
  .article-container {
    padding: 1rem;
  }
}
